<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/index.css">
  <title>Renamer</title>
</head>

<body>
  <div>
    <h1>Instruction</h1>
    <ol>
      <li>Click on the <strong>Choose Folder</strong> button below.</li>
      <li>Choose the folder that contain your file to be rename.</li>
      <li>The file is now renamed.</li>
      <a class="view-demo" href="#">View Demo</a>
    </ol>

    <p>&#9758; Files will be renamed in random sequence order with numbering prefix.</p>
    <p>&#9758; Eg: filename &#8594; 001. filename</p>
    <button class="choose-folder-btn">Choose Folder</button>
  </div>
</body>

<script src="../js/index.js"></script>

</html>